# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
.vscode/

# Rider
.idea/

# Mac
.DS_Store
Content/UI/IMG_9812.uasset
Content/UI/IMG_9813.uasset
Content/UI/IMG_9815.uasset
Content/Characters/Player/motions/07_robo_motion_Jump1.uasset
Content/Characters/Player/motions/07_robo_motion_Jump2.uasset
Content/Characters/Player/motions/07_robo_motion_Jump3.uasset
Content/Characters/Player/motions/2007_Jump_begin.uasset
Content/Characters/Player/motions/2007_Jump_end.uasset
Content/Characters/Player/motions/2007_Jump_luup.uasset
Content/Characters/Player/motions/2013_robo_motion_1.uasset
Content/Characters/Player/motions/2013_robo_motion_2.uasset
Content/Characters/Player/motions/2013_robo_motion_3.uasset
Content/Characters/Player/motions/99_robo_motion_rolling.fbx
Content/UI/IMG_9822.PNG
Content/UI/IMG_9822.uasset
Content/BP_GameMode_R.uasset
Content/UI/IMG_9845.uasset
Content/UI/IMG_9846.uasset
Content/UI/IMG_9854.PNG
Content/UI/IMG_9855.PNG
Content/UI/IMG_9854.uasset
