# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
.vscode/

# Rider
.idea/

# Mac
.DS_Store
Content/UI/IMG_9812.uasset
Content/UI/IMG_9813.uasset
Content/UI/IMG_9815.uasset
